.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border-radius: 10px;
  gap: 60px;
   margin: 30px 0;
  position: relative;
  margin-bottom: 60px !important;
  background: hsba(209, 0%, 99%, 1);

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    top: 30%;

    h1 {
      font-size: 3.5rem;
      font-weight: bold;
      color: #000;
      font-family: 'Inter';

      .highlight {
        color: #00B8FF;
      }
    }
    // :host ::ng-deep h1{
    //   font-size: 3.5rem;
    //   font-weight: bold;
    //   color: #000;
    //   font-family: 'Inter';
    //   :host ::ng-deep h1 span {
    //     color: #00B8FF;
    //   }
    // }
    p {
      font-size: 1rem;
      color: #777E90;
      padding: 10px;
      font-family: 'Poppins-Light';
      font-weight: 400;
    }

    .cta-button {
      background: #00B8FF;
      color: white;
      border: none;
      padding: 12px 20px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
      display: inline-block;

      &:hover {
        background: darken(#00B8FF, 10%);
      }
    }
  }
.circles-container{
  position: absolute;
  bottom: -60%;
  right: -40%;
}
  .hero-content-sm {
    // Mobile-specific styles (if needed)
  }

  .hero-content-md {
    position: absolute;
  }

  .hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-background {
      position: absolute;
      width: 100%;
      height: auto;
      z-index: -1;
      right: 5%;
      top: -5%;
    }

   .hero-image{
    border-radius: 50%;
    background: #00B8FF;
    padding: 40px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 370px; // Ensure same size for all images
    height: 370px;
    position: relative;
    .hero-main-image {
      position: absolute;
      object-fit: cover;
      height: 100%;
      z-index: 2; // Ensures it's above the background
      top: 5%;

    }
   }

.content-md {

  .stats-card {
    position: absolute;
    background: #F5F5F4;
    padding: 10px;
    border-radius: 18.36px;
    border-color: #00B8FF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    span{
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 30.26px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;


    }
    &.video {
      display: flex;
      justify-content: space-between;
      width: 159.94px;
      height: 66.94px;
      border:1px solid #00B8FF;
      border-radius: 19px;
      top: 30%;
      left: -20% ;
      img{
        position: absolute;
        right: 70%;
        bottom: -80%;
      }
      span:first-child {
        display: inline-block;
      }
    }

    &.courses {
      width: 140px;
      height: 187px;
      top: -10%;
      right: -70px;
      border:1px solid #00B8FF;
      border-radius: 19px;
      font-family: 'Inter';
      font-size: 1rem;
      font-weight: 400;
      line-height: 18.15px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color:  rgba(16, 24, 40, 1);
      span:first-child {
        display: inline-block;
        margin: 10px 0 20px 0;
      }
    }

    &.tutors {
      display: flex;
      width: 169px;
      height: 80px;
      bottom: -5%;
      right: -5%;
      border:1px solid #00B8FF;
      border-radius: 19px;
      img{
        position: absolute;
        right: 40%;
        bottom: -60%;
      }
      p{
          margin-left: 60px;
          margin-top: 10px;
          text-align: center;
          span{
            margin-left: 5px;
          }
      }
    }
  }
}

  }
}

.hero-section-mobile {
  flex-direction: column;
  margin: 30px 0 250px 0 !important;

}

.hero-section-web {
  margin: 0 120px;
  flex-direction: row;
  background: rgba(36, 187, 140, 0.02);
  padding: 120px 120px 160px 2px !important;
  min-height: 100vh;
}

.absolute {
  position: absolute;
}
.circle-dot{
  width: 32px;
  height: 32px;
  background-color: #00B8FF;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.circle-dot-last{
  width: 17px;
  height: 17px;
  background-color: #00B8FF;
  border-radius: 50%;
  position: absolute;
  left: -20%;
  bottom: -25%;
}
.cloud-img{
  width: 356px;
  height: 306px;
  position: absolute;
  bottom: 0;
  left: -10%;
  img{
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 768px){
  .circles-container{
    right: -3% !important;
    bottom: -40% !important;
  }
  .circle-dot{
    bottom: -20%;
    left: 10%;
  }
  .circle-dot-last{
    bottom: -40%;
    left: 0;
  }
  }
