<section>
  @if(isLoading){
  <div class="loader-container">
    <div class="custom-loader"></div>
  </div>
  } @if(!isLoading){
  <div class="hero-section" [class]="isTablet ? '' : 'hero-section-web'">
    @if(!isTablet){
    <img
      class="hero-background"
      src="../../../../../assets/images/circles.svg"
      alt="hero"
    />
    }

    <div class="hero-content" [class]="isTablet ? '' : 'hero-content-md'">
      <h1>
        Better <span class="highlight">Insights</span> For <br />
        Business <span class="highlight">Growth</span>
      </h1>
      <!-- <div  class="title" [innerHtml]="banners[currentSlide].title"></div> -->

      <p>{{ banners[currentSlide].brief }} ...</p>
      <button class="cta-button">Get Started</button>
    </div>

    <div class="hero-container">
      <img
        class="hero-background"
        src="../../../../../assets/images/circles.svg"
        alt="hero"
      />

      <div class="hero-image">
        <img
          class="hero-main-image"
          [src]="banners[currentSlide].image"
          alt="Person"
        />
      </div>

      <div class="content-md">
        @if(!isTablet){
        <div class="stats-card courses">
          <img
            src="../../../../../assets/images/Ring.svg"
            alt="Online-courses"
          />
          <p class="lead-text"><span>5K+</span><br />Online Courses</p>
        </div>
        <div class="stats-card tutors">
          <div>
            <img src="../../../../../assets/icons/icon (1).svg" alt="tutors" />
          </div>
          <p class="lead-text">Tutors<br /><span>250+</span></p>
        </div>
        <div class="stats-card video">
          <img src="../../../../../assets/icons/icon.svg" alt="Courses" />
          <p class="lead-text"><span>2K+</span><br />Video Courses</p>
        </div>
        }
      </div>
      <div class="circles-container">
        <img
          class="circles"
          src="../../../../../assets/images/circles.svg"
          alt="circles-img"
        />
      </div>
      <div class="circle-dot"></div>
      <div class="circle-dot-last"></div>
    </div>
    @if(!isTablet){
    <div class="cloud-img">
      <img
        class="cloud"
        src="../../../../../assets/images/cloud.svg"
        alt="cloud-img"
      />
    </div>
    }
  </div>
  }
</section>
