<footer>
  <div class="footer-container container">
    <div class="footer-grid">


      <div class="footer-logo">
        <img src="../../../assets/images/Group 2213.svg" alt="Company Logo">
      </div>


      <div class="footer-description">
        <p>Empowering learners through accessible and engaging online education.</p>
        <p>Byway is a leading online learning platform dedicated to providing high-quality, flexible, and affordable educational experiences. </p>
      </div>


      <nav class="footer-links">
        <h2>Get Help</h2>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Latest Articles</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </nav>
      <div class="braeck-line"></div>

      <address class="footer-contact">
        <h2>Contact Us</h2>
        <p>Address: 123 Main Street, Anytown, CA 12345</p>
        <p>Tel: <a href="tel:+1234567890">+(123) 456-7890</a></p>
        <p>Mail: <a href="mailto:bywayedu@webkul.in">bywayedu&#64;webkul.in</a></p>
        <div class="icons-wrapper">
          <img src="../../../assets/icons/social/facebook.svg" alt="facebook">
          <img src="../../../assets/icons/social/twitter.svg" alt="twitter">
          <img src="../../../assets/icons/social/google.svg" alt="google">
          <img src="../../../assets/icons/social/github.svg" alt="github">
        </div>
      </address>

    </div>

    <div class="social-container">
      <img src="../../../assets/icons/social/social-icons.svg" alt="Social Media Icons">
    </div>

    <div class="braeck-line"></div>

    <p class="copy-right">Copyright © 2024 Link Development. All rights reserved</p>
  </div>
</footer>
