<header class="navbar border-bottom">
  <div class="container">
    <img
      [class]="isMobile ? 'logo-mobile' : 'logo'"
      src="../../../assets/images/logo.webp"
      alt="logo"
    />

    <div class="nav-items" *ngIf="!isMobile">
      <div class="cart-container" (click)="goToCart()">
        <img src="../../../assets/icons/cart.svg" class="cart" alt="cart" />
        <span class="cart-count">
          {{ (cartCount$ | async) }}
        </span>

      </div>
      <button class="nav-btn">Log In</button>
      <button class="nav-btn nav-btn-active">Sign Up</button>
    </div>

    @if(isMobile){
    <button class="burger-menu" (click)="toggleMenu()">
      <span></span>
      <span></span>
    </button>
    }
  </div>

  @if(isMobile && isMenuOpen){
    <nav class="nav-items mobile-menu">
    <div class="cart-container" (click)="goToCart()">
      <img src="../../../assets/icons/cart.svg" class="cart" alt="cart" />
      <span class="cart-count">
        {{ (cartCount$ | async) }}
      </span>
    </div>
    <button class="nav-btn">Log In</button>
    <button class="nav-btn nav-btn-active">Sign Up</button>
    </nav>
  }
</header>
